## Česká jména

Stáhni si soubor jmena.csv, který obsahuje tabulku 100 nejpoužívanějších českých křestních jmen seřazených od nejpoužívanějšího k nejméně používanému.

In [ ]:
import requests

url = "https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/zakladni-dotazy/excs/excs%3Eceska-jmena/jmena.csv"
r = requests.get(url, allow_redirects=True, verify=False)
open('jmena.csv', 'wb').write(r.content)


Pomocí Pandas načti tuto tabulku jako DataFrame.

In [11]:
import pandas

jmena = pandas.read_csv("jmena.csv")


Jako index zvol sloupec s názvem 'jméno'.

In [12]:
# jako index zvol sloupec s názvem ‘jméno’.
jmena = jmena.set_index("jméno")

# print(jmena.index)
# print(jmena)


Datový soubor obsahuje následující sloupečky

* jméno - křestní jméno
* četnost - počet obyvatel ČR mající toto jméno
* věk - průměrný věk nositelů jména
* pohlaví - zda je jméno mužské či ženské
* svátek - datum, kdy má dané jméno svátek
* původ - původ jména

Vyřešte následující úkoly.

Vypište informace o jménu Jiří.

In [14]:
jmena.loc["Jiří"]

četnost    296090
věk            49
pohlaví         m
svátek       24.4
původ       řecký
Name: Jiří, dtype: object

Vypište informace pro jména Martin, Zuzana a Josef.

In [15]:
jmena.loc[["Martin", "Zuzana", "Josef"]]

        četnost  věk pohlaví svátek      původ
jméno
Martin   188380   33       m  11.11   latinský
Zuzana    61382   34       ž   11.8  hebrejský
Josef    211317   57       m   19.3  hebrejský

Vypište informace o všech nejčastějších jménech až po Martina.

In [ ]:
jmena.loc[:"Martin"]

# jmena.sort_values(by="jméno").loc[:"Martin"]

Vypište pouze průměrné věky osob mající jména mezi Martinem a Terezou.

In [ ]:
jmena.loc["Martin": "Tereza", "věk"]

Vypište průměrný věk a původ pro všechna jména od Libora dolů.

In [17]:
jmena.loc["Libor":,["věk", "původ"]]

           věk      původ
jméno
Libor       44   latinský
Aneta       17  hebrejský
Simona      30  hebrejský
Růžena      69  slovanský
Radka       38  slovanský
Daniela     38  hebrejský
Denisa      23      řecký
Jindřich    51    německý
Vlastimil   54  slovanský
Iva         46  slovanský
Miloš       53  slovanský
Zdenka      68  slovanský

Vypište sloupečky mezi věkem a původem pro všechna jména v tabulce.

In [18]:
jmena.loc[:,"věk":"původ"]

           věk pohlaví        svátek      původ
jméno
Jiří        49       m          24.4      řecký
Jan         40       m   24.6. a 6.7  hebrejský
Petr        42       m  22.2. a 29.6      řecký
Jana        50       ž          24.5  hebrejský
Marie       65       ž          12.9  hebrejský
...        ...     ...           ...        ...
Jindřich    51       m          15.7    německý
Vlastimil   54       m          17.3  slovanský
Iva         46       ž          1.12  slovanský
Miloš       53       m          25.1  slovanský
Zdenka      68       ž          23.6  slovanský

[100 rows x 4 columns]